.Rproj.user
.Rhistory
.RData
.Ruserdata
.*
log
cluster_logs
thymus-tss.Rproj
gene-lists/tra/Tissue-specific-expression-human-gtex_cache
gene-lists/tra/Tissue-specific-expression-human-gtex_files
gene-lists/tra/GTEx_Analysis_v8_gene_mean_expression.Rdata

data/
index/
software/TElocal-master
analysis/*.txt
analysis/annotation_tables/
analysis/TSS/
ERE-analysis/analysis/count_tables/
.DS*
.R*
*_output.txt
*.fastq.gz
ERE-analysis/analysis/annotation_tables/
*cntTable
*.Rproj
TE_transcripts_counts
ERE-analysis/analysis/LIONS
ERE-analysis/cluster_scripts/SQuIRE/*
ERE-analysis/analysis/gene_lists/
ERE-analysis/analysis/Plots/
ERE-analysis/analysis/R_variables/
